@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Noti UCSE!</h1>
    <p>Sitio de ejemplo utilizando el framework NET Core v5.0 creado por la cátedra de la asignatura Ingeniería Web - UCSE (DAR).</p>
</div>
